*.mp3 filter=lfs diff=lfs merge=lfs -text
audio/*.mp3 filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
Acrylic[[:space:]]Mansion[[:space:]]Foyer.png filter=lfs diff=lfs merge=lfs -text
Concert[[:space:]]Butterfly.png filter=lfs diff=lfs merge=lfs -text
Varied[[:space:]]Dessert[[:space:]]Vale[[:space:]]v2.png filter=lfs diff=lfs merge=lfs -text
